.menuContainer {
    width: 50% !important;
    margin: 0 auto ;
    padding: 20px;
    background-color: #444;
    color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 80px;
    align-content: center;
    border: solid black 4px;
}

.menuTitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
    background-color: blueviolet;
}

.menuSection {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #222;
    border: solid black 2px;

}

.sectionTitle {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
}

.menuItems {
    list-style-type: none;
    padding: 0;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    padding: 10px 0;
}

.menuItem:last-child {
    border-bottom: none;
}

.itemName {
    font-size: 22px;
}

.itemPrice {
    color: #6AB04A;
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
    /* Sobrescribir la regla display: flex; */
    display: block !important; /* Cambia display a block en lugar de flex */
    align-items: initial; /* Reinicia la alineación de los ítems */
    justify-content: initial; /* Reinicia la justificación de los contenidos */
}
